.navbar {
    background-color: #fff;
    height: 10%;
    width: 100%;
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    width: 28%;
}

.logo {
    display: flex;
    gap: 5%;
}


.logo > span {
    font-weight : 500;
    font-size: 1.2em;
}

.search{
    display: flex;
    gap: 5%;
}


.search > input {
    font-size: 1.2em;
}



.right-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    width: 16%;
}

.search > input {
    border: none;
    outline: none;
}

.left-section > .logo >  i,
.left-section > .search > i,
.right-section > i {
    font-size:1.2em;
}

.right-section > span {
    display: flex;
}

.right-section > i,
.right-section > span {
    color: #5A607F;
}